.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-notes {
  list-style-type: none;
}

.App-addnote {
  border: 1px solid #ccc;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.note-content, .note-delete {
  display: inline;
}

.note-delete {
  color: #ff1100;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 10px;
  margin-left: 10px;
  padding: 3px;
  cursor: pointer;
}

.note-delete:hover {
  background: #ff1100;
  color: #fff;
}
